body {
    font-family: 'Roboto', sans-serif;
    //background-color: #c9c9c9;
}

h1 {
    text-align: center;
}
.cnt {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#mychart {
    height: 200px;
    width: 200px;
}